---
import Link from '../Link.astro';
import H3 from '../typography/h3.astro';
import P from '../typography/p.astro';

interface Props {
  companyName: string;
  companyUrl: string;
  totalDuration: string;
  companyPositions: Array<{ title: string; duration: string }>;
}

const { companyName, companyUrl, totalDuration, companyPositions } = Astro.props;
---

<li class="li-root">
  <H3 class="h3">
    <Link href={companyUrl}>@{companyName}</Link>
  </H3>
  {
    companyPositions.length > 1 ? (
      <P variant="subtitle1" class="full-duration">
        Full time · {totalDuration}
      </P>
    ) : null
  }
  <br />
  <ul>
    {
      companyPositions.map((companyPosition) => (
        <li class="position-item">
          <P class="position-title">{companyPosition.title}</P>
          <P class="position-duration">{companyPosition.duration}</P>
        </li>
      ))
    }
  </ul>
  <ul>
    <slot name="responsibilities" />
  </ul>
</li>

<style lang="scss">
  @import '@/styles/breakpoints-media.css';
  @import '@/styles/typography.scss';

  .li-root {
    margin-bottom: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .h3 {
    font-weight: var(--font-weight-light) !important;

    @media (--xs-and-up) {
      @include h6;
    }
    @media (--sm-and-up) {
      @include h5;
    }
    @media (--md-and-up) {
      @include h5;
    }
  }

  .full-duration {
    color: var(--text-3);
    font-weight: var(--font-weight-light) !important;
  }

  li.position-item {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .position-title {
      @media (--sm-and-up) {
        @include h6;
      }
      @media (--md-and-up) {
        @include h5;
      }
    }

    .position-duration {
      color: var(--text-3);
      font-weight: var(--font-weight-light) !important;

      @media (--sm-and-up) {
        @include subtitle2;
      }
      @media (--md-and-up) {
        @include subtitle1;
      }
    }
  }
</style>
