---
import { hashTags, companyUrls, currentTechnologies, classes } from '@/utils';
import SectionTitle from './SectionTitle.astro';
import Link from '../Link.svelte';
import SectionListItem from './SectionListItem.astro';
---

<section
  id={hashTags.homePage.aboutMe}
  class={classes(`
    mx-auto
    mt-20
    max-w-prose
    scroll-mt-40
  `)}
>
  <SectionTitle count="01" title="About me" />
  <div
    class={classes(`
      mt-6
      
      font-light
      text-text2 
      text-base sm:text-lg xl:text-xl
    `)}
  >
    <p>
      Hello. My name is Vighnesh and I enjoy creating projects involving graphics manipulations, cli-tools, libraries
      and also developer tools. My interest in software development started a few years back when I first learnt about
      Javascript. Since then, I have been building teeny-tiny projects for fun. I am also fascinated by compilers and I
      am on a journey to master the art of building a compiler
      <br />
      <br />
      Fast-forward to today, and I have had the privilege to work for{' '}
      <Link href={companyUrls.google} target="_blank">Google</Link>
      ,{' '}
      <Link href={companyUrls.amazon} target="_blank">Amazon</Link>
      ,{' '}
      <Link href={companyUrls.smarterCodes} target="_blank">an AI startup</Link>{' '}
      and{' '}
      <Link href={companyUrls.tavisca} target="_blank">a loyalty rewards company</Link>
      <br />
      <br />
      My Main focus these days is building next-gen developer tools for GoogleTV at{' '}
      <Link href={companyUrls.google} target="_blank">Google</Link>
      <br />
      <br />
      Here are a few technologies I have been working with recently:
      <br />
    </p>
    <ul class="mt-4">
      {
        currentTechnologies.map((technology) => (
          <SectionListItem class="li mb-2">
            <Link href={technology.link}>{technology.text}</Link>
          </SectionListItem>
        ))
      }
    </ul>
  </div>
</section>
