---
import { hashTags, featuredProjects, internalLinks } from '@/constants';
import H2 from '../typography/h2.astro';
import Link from '../Link.astro';
import H3 from '../typography/h3.astro';
import P from '../typography/p.astro';
import FocusDashedOutline from '../FocusDashedOutline.astro';
import ProjectIconLink from './ProjectIconLink.astro';
import ProjectTag from './ProjectTag.astro';
---

<section class="featured-projects-section" id={hashTags.projects.featuredProjects}>
  <FocusDashedOutline>
    <H2 variant="h5">
      <Link href={internalLinks.projects.featured}>Featured projects</Link>
    </H2>

    <ul class="featured-projects-list">
      {
        featuredProjects.map(({ imageUrl, title, description, tags, links }) => (
          <li class="featured-project">
            <a class="featured-project-image-link" href={links.demo.href}>
              <img class="featured-project-image" src={imageUrl} alt="" />
            </a>
            <Link href={links.demo.href} class="featured-project-title-link">
              <H3 variant="inherit" class="featured-project-title">
                {title}
              </H3>
            </Link>
            <ul class="featured-project-tags">
              {tags.map((tag) => (
                <ProjectTag>{tag}</ProjectTag>
              ))}
            </ul>
            <P class="featured-project-description">{description}</P>

            <ul class="featured-project-links">
              <li>
                <ProjectIconLink href={links.github.href} aria-label="source code">
                  <links.github.Icon role="img" width="1.25rem" height="1.25rem" />
                </ProjectIconLink>
              </li>
              <li>
                <ProjectIconLink href={links.demo.href} aria-label="demo">
                  <links.demo.Icon role="img" width="1.25rem" height="1.25rem" />
                </ProjectIconLink>
              </li>
            </ul>
          </li>
        ))
      }
    </ul>
  </FocusDashedOutline>
</section>

<style lang="scss">
  @import '@/styles/breakpoints-media.css';
  @import '@/styles/typography.scss';

  section.featured-projects-section {
    margin-inline: 0;
    padding-block: 0;
    margin-top: 2rem;
    max-width: unset;
  }

  .featured-projects-list {
    width: 100%;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media (--md-and-up) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--lg-and-up) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .featured-project {
    width: 100%;
    padding-bottom: 1rem;
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    background-color: var(--background-light);
    box-shadow: 0px 0px 45px 11px var(--background-dark);

    & > * {
      margin-inline: 1rem;
    }
  }

  .featured-project-image-link {
    width: 100%;
    display: block;
    margin-inline: 0;
    position: relative;

    display: none;

    border-radius: inherit;
    cursor: pointer;

    @media (--md-and-up) {
      display: block;
    }

    .featured-project-image {
      width: 100%;

      display: inline-block;

      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      aspect-ratio: 16 / 9;
      object-fit: fill;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;

      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      background-color: var(--background-blend);
      opacity: 90%;
      z-index: 1;
      transition: all var(--duration-short) var(--ease-in-out);
    }

    &:hover {
      &::after {
        background-color: transparent;
      }
    }
  }

  .featured-project-title-link {
    width: fit-content;
    position: relative;

    z-index: 1;

    .featured-project-title {
      font-weight: var(--font-weight-light) !important;
      margin-top: 1rem;

      @media (--xs-and-up) {
        @include h6;
      }
      @media (--md-and-up) {
        @include h6;
      }
    }
  }

  .featured-project-tags {
    margin-top: 0.5rem;

    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .featured-project-description {
    margin-top: 1rem;

    flex-grow: 1;

    color: var(--text-2);
  }

  .featured-project-links {
    margin-top: 1rem;

    display: flex;
    gap: 1rem;
  }
</style>
