---
import { classes } from '@/utils';
import { externalLinks, internalLinks, projectNavItems } from '@/constants';
import ContentLayout from '@/layouts/ContentLayout.astro';
import Link from '@/components/Link.svelte';
import DrawingAppRoot from '@/components/projects/drawing-app/Root.svelte';

const title = 'Vighnesh Raut | Project - Drawing App';
const description = `A drawing app made with ❤️ by Vighnesh Raut`;
---

<ContentLayout title={title} description={description} navItems={projectNavItems} showFooter={false}>
  <div class={classes(`mt-32 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8 text-center`)}>
    <h1 class="text-3xl">A Drawing App</h1>
    <p class="mt-2">Made with ❤️ by <Link href={internalLinks.main}>Vighnesh Raut</Link></p>
    <p class="mt-1">
      Check out the source code on <Link href={externalLinks.projects.drawingApp.sourceCode}>Github</Link>
    </p>
    <div class="mt-10">
      <DrawingAppRoot client:load />
    </div>
  </div>
</ContentLayout>
