---
import { canvasProjectSourceCodeLink } from '@vighnesh153/graphics-programming';
import { classes, projectNavItems } from '@/utils';
import ContentLayout from '@/layouts/ContentLayout.astro';
import GraphicsProjectsCollection from '@/components/projects/graphics/GraphicsProjectsCollection.svelte';
import Link from '@/components/Link.svelte';

const title = 'Vighnesh Raut | Graphics Projects';
const description = `Graphics programming projects built with HTML Canvas API`;
---

<ContentLayout title={title} description={description} navItems={projectNavItems} showFooter={true}>
  <div class={classes(`mt-32 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}>
    <h1 class="text-3xl mb-8">Graphics Programming Projects</h1>
    <GraphicsProjectsCollection client:load />
  </div>
  <p slot="custom-source-code">
    See the <Link href={canvasProjectSourceCodeLink}>project's source code</Link>
  </p>
</ContentLayout>
