---
import { allProjects, classes } from "@/utils/index.ts";
import FolderIcon from "@/icons/FolderIcon.astro";
import ProjectIconLink from "./ProjectIconLink.astro";
import ProjectTag from "./ProjectTag.astro";
import { Link } from "../Link.tsx";
---

<ul
  class={classes(`
    scroll-mt-32 mt-8

    grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-items-center
    gap-12
    [grid-template-rows:masonry]
    supports-[grid-template-rows:masonry]:[grid-template-rows:masonry]
    supports-[grid-template-rows:masonry]:items-start
  `)}
>
  {
    allProjects.map(({ title, description, tags, links }) => (
      <li class="shadow-backgroundDark bg-backgroundLight flex max-w-lg flex-col rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-between">
          <FolderIcon class="fill-accent" role="img" height="2rem" />

          <ul class="fill-text flex gap-4">
            <li class="[&:is(:focus-within,:hover)]:fill-accent">
              <ProjectIconLink href={links.github.href} title="source code">
                <links.github.Icon
                  role="img"
                  width="1.25rem"
                  height="1.25rem"
                />
              </ProjectIconLink>
            </li>
            <li class="[&:is(:focus-within,:hover)]:fill-accent">
              <ProjectIconLink href={links.demo.href} title="demo">
                <links.demo.Icon role="img" width="1.25rem" height="1.25rem" />
              </ProjectIconLink>
            </li>
          </ul>
        </div>
        <h3 class="mt-5 text-xl md:text-2xl">
          <Link href={links.demo.href}>{title}</Link>
        </h3>
        <p class="text-text2 mt-4 flex-grow text-base">{description}</p>
        <ul class="mt-6 flex flex-wrap gap-2">
          {tags.map((tag) => (
            <ProjectTag>{tag}</ProjectTag>
          ))}
        </ul>
      </li>
    ))
  }
</ul>
