---
import { classes } from "@/utils/index.ts";
import Link from "../Link.tsx";

interface Props {
  companyName: string;
  companyUrl: string;
  totalDuration: string;
  companyPositions: Array<{ title: string; duration: string }>;
}

const { companyName, companyUrl, totalDuration, companyPositions } =
  Astro.props;
---

<style></style>

<li class="mb-10 flex flex-col items-start">
  <h3 class="mb-2 text-xl font-light sm:text-2xl">
    <Link href={companyUrl}>@{companyName}</Link>
  </h3>
  {
    companyPositions.length > 1 ? (
      <p class={classes(`text-text3 text-base font-light`)}>
        Full time · {totalDuration}
      </p>
    ) : null
  }
  <ul>
    {
      companyPositions.map((companyPosition) => (
        <li class={classes(`mb-4 flex flex-col items-start`)}>
          <p class={classes(`text-base md:text-2xl`)}>
            {companyPosition.title}
          </p>
          <p
            class={classes(`
              font-light
              text-text3
              text-sm sm:text-sm md:text-base
            `)}
          >
            {companyPosition.duration}
          </p>
        </li>
      ))
    }
  </ul>
  <ul>
    <slot name="responsibilities" />
  </ul>
</li>
