---
import { classes } from "@/utils/index.ts";
import { Link } from "../Link.tsx";

interface Props {
  companyName: string;
  companyUrl: string;
  totalDuration: string;
  companyPositions: Array<{ title: string; duration: string }>;
}

const { companyName, companyUrl, totalDuration, companyPositions } =
  Astro.props;
---

<style></style>

<li class="mb-10 flex flex-col items-start">
  <div class="w-full mb-2 flex justify-between items-center gap-2">
    <h3 class="text-xl font-light sm:text-2xl">
      <Link href={companyUrl}>@{companyName}</Link>
    </h3>
    {
      companyPositions.length > 1 ? (
        <p class={classes(`text-text3 text-sm font-light`)}>
          Full time · {totalDuration}
        </p>
      ) : null
    }
  </div>
  <ul class="mb-4 flex flex-col gap-2">
    {
      companyPositions.map((companyPosition) => (
        <li class={classes(`flex flex-col items-start`)}>
          <p class={classes(`text-base md:text-xl`)}>{companyPosition.title}</p>
          <p
            class={classes(`
              font-light
              text-text3
              text-sm sm:text-sm md:text-base
            `)}
          >
            {companyPosition.duration}
          </p>
        </li>
      ))
    }
  </ul>
  <ul>
    <slot name="responsibilities" />
  </ul>
</li>
